.TimelineBase-cardContainer-197 {
  border-bottom: 5px solid #4f68ad;
  border-radius: 7px;
}

.TimelineBase-line-196 {
  background-color: #4f66ac7a !important;
}

.MuiAvatar-colorDefault {
  background-color: #4f67ac !important;
}
